<<<<<<< HEAD
footer {
    background-color: white; /* Ny bakgrundsfärg */
    padding: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
  }
  
  .footer-section {
  
    strong {
      display: block;
      margin-bottom: 5px;
    }
  
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    nav ul li {
      margin-bottom: 5px;
    }
  
    nav a {
      color: inherit;
      text-decoration: none;
      @include transition(.5s);
      cursor: pointer;
  
      &:hover,
      &:active,
      &:visited {
        color: #555;
        text-decoration: none;
      }
    }
  }
  
  /* Copyright-stilen */
  .copyright {
    text-align: right;
    font-size: 14px;
    color: #555;
=======
footer {
    background-color: white; /* Ny bakgrundsfärg */
    padding: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
  }
  
  .footer-section {
  
    strong {
      display: block;
      margin-bottom: 5px;
    }
  
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    nav ul li {
      margin-bottom: 5px;
    }
  
    nav a {
      color: inherit;
      text-decoration: none;
      @include transition(.5s);
      cursor: pointer;
  
      &:hover,
      &:active,
      &:visited {
        color: #555;
        text-decoration: none;
      }
    }
  }
  
  /* Copyright-stilen */
  .copyright {
    text-align: right;
    font-size: 14px;
    color: #555;
>>>>>>> d6f7b20c9a34bcfe8192c3e1ce01565155138b93
  }